<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3 ">
      <table class="table">
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @location.name %></td>
        </tr>
        <tr>
          <td><strong>City</strong></td>
          <td><%= @location.city %></td>
        </tr>
        <tr>
          <td><%= link_to "Back", admin_locations_path %></td>
          <td><%= link_to "Write Review", admin_location_new_review_path(:location_id => @location.id) %></td>
        </tr>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <table class="table">
        <tr>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
        <% @reviews.each do |review| %>
          <tr>
            <td> <%= review.comment %> </td>
            <td> <%= review.rating %></td>
          </tr>
        <% end %>
    </div>
  </div>
</div>
